<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>glavnaya</title>
    <link rel="stylesheet" href="{% static 'm.css' %}">
</head>
<body>
    <h>
        <img id="nadp"  src="static/log2.png"
        width="50%" 
        /> 
        <!-- <h2>Няма Няма</h2> -->
        
        <img id="lok" src="static/lok.png"
            width="6%"
            
            /> 
        
            <img id="ak" src="static/ava.png"
            width="9.5%"
            
            />
    <poisk>

    </poisk>
    </h>
    <niz>
        <b1 type="button">
            <img src="static/b1.png"  width="99%">
        </b1>
        <b2 type="button">
            <img src="static/b2.png"  width="99%">
        </b2>
        <b3 type="button">
            <img src="static/b3.png"  width="99%">
        </b3>
        <b4 type="button">
            <img src="static/b4.png"  width="99%">
        </b4>
    </niz>

</body>
</html>